@mixin opacity($val: 1) {
    filter: alpha(opacity=$val * 100);
    -moz-opacity: $val;
    -khtml-opacity: $val;
    opacity: $val;
}

@mixin border-radius($radius:50%) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin WidthHeight($w, $h) {
    width: $w;
    height: $h;
}

@mixin poaTopLeft($w, $h) {
    position: absolute;
    top: $w;
    left: $h;
}

@mixin poaTopRight($w, $h) {
    position: absolute;
    top: $w;
    right: $h;
}

@mixin poaBottomLeft($w, $h) {
    position: absolute;
    bottom: $w;
    left: $h;
}

@mixin poaBottomRight($w, $h) {
    position: absolute;
    bottom: $w;
    right: $h;
}

@mixin pingJunFengGeParBox($w) {
    padding: $w 0 0 $w;
}

@mixin pingJunFengGeChiBox($w) {
    float: left;
    margin: 0 $w $w 0;
}

@mixin textCenter($w, $h) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
}