@mixin opacity($val: 1 ) {
    filter: alpha(opacity = $val * 100);
    -moz-opacity: $val;
    -khtml-opacity: $val;
    opacity: $val;
}

@mixin border-radius($radius:50%) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
