// 导入
@import 'main.scss';
@import 'compat.scss';
// 继承 + 占位符（不被继承就不编译）
%mt5 {
    border: 1px solid #d0d0d0;
    padding: 10px;
    color: red;
}

// 全局变量 + 默认变量
$hoverColor: #fafafa !default;
// 运算
// font: 10px/8px;             // 纯 CSS，不是除法运算
// width: $width/2;            // 使用了变量，是除法运算
// width: round(1.5)/2;        // 使用了函数，是除法运算
// height: (500px/2);          // 使用了圆括号，是除法运算
// margin-left: 5px + 8px/2px; // 使用了加（+）号，是除法运算
// .wrap {
//     // 调用混合宏
//     @include border-radius(50%);
//     // 加法 + 乘法 + 除法
//     width: (400px/2) + 50px * 2;
//     tr {
//         &:hover {
//             // 局部变量
//             $hoverColor: red; 
//             background-color: $hoverColor;
//         }
//         // 调用继承
//         @extend %mt5;
//     }
// }
@mixin WidthHeight($w, $h) {
    width: $w;
    height: $h;
}

@mixin poaTopLeft($w, $h) {
    position: absolute;
    top: $w;
    left: $h;
}

@mixin poaTopRight($w, $h) {
    position: absolute;
    top: $w;
    right: $h;
}

@mixin poaBottomLeft($w, $h) {
    position: absolute;
    bottom: $w;
    left: $h;
}

@mixin poaBottomRight($w, $h) {
    position: absolute;
    bottom: $w;
    right: $h;
}

@mixin pingJunFengGeParBox($w) {
    padding: $w 0 0 $w;
}

@mixin pingJunFengGeChiBox($w) {
    float: left;
    margin: 0 $w $w 0;
}

@mixin textCenter($w, $h) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
}/*  */

.wrapper {
    @include WidthHeight(1000px, 475px);
}
